.header-section {
    width: 100%;
    height: 100px;
    background-color: blue;
}

.image-section {
    background-color: blue;
    width: 100%;
    height: auto;
    padding-top: 80px;
}

.image-section > .car {
    display: flex;
    justify-content: center;
    align-items: center;
}