.header-section {
    width: 100%;
    height: 100px;
    background-color: red;
    text-align: center;
    text-transform: uppercase;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section {
    background-color: blue;
    width: 100%;
    height: auto;
    margin-top: 80px;
}

.car {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}