.header-section {
    width: 100%;
    height: 100px;
    background-color: red;
    text-align: center;
    text-transform: uppercase;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section {
    width: 100%;
    height: 500px;
    background-color: blue;
    margin-top: 80px;
}

.image-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.car {
    width:500px;
    height: 350px;
}